{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card bg-light p-3" style="width: 60vw;">
        <h1 class="display-6 text-decoration-underline text-center">Login</h1>

        <form method="post" class="form my-3">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-primary px-4 py-2 rounded">Login</button>
        </form>
    </div>
</div>
{% endblock %}