{% extends 'base.html' %}

{% block title %}
{{ recipe.plant_name }}
{% endblock %}

{% block content %}
<div class="container m-5 p-5">
    <h1 class="display-2">{{ recipe.plant_name }}</h1>

    <h3>Information</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Value</th>
                <tH>Units</tH>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nitrogen</td>
                <td>{{ recipe.n }}</td>
            </tr>
            <tr>
                <td>Phosphorus</td>
                <td>{{ recipe.p }}</td>
            </tr>
            <tr>
                <td>Potassium</td>
                <td>{{ recipe.k }}</td>
            </tr>
            <tr>
                <td>Temperature</td>
                <td>{{ recipe.temp }}</td>
                <td>Degrees Celsius</td>
            </tr>
            <tr>
                <td>Humidity</td>
                <td>{{ recipe.humidity }}</td>
            </tr>
            <tr>
                <td>pH</td>
                <td>{{ recipe.ph }}</td>
                <td>pH unit</td>
            </tr>
            <tr>
                <td>Rainfall</td>
                <td>{{ recipe.rainfall }}</td>
                <td>mm</td>
            </tr>
        </tbody>
    </table>

    <div class="container bg-light p-5 rounded">
        {{ recipe.instructions }}
    </div>
</div>
{% endblock %}